In [1]:
import numpy as np
import pandas as pd
import seaborn
import matplotlib
import sklearn
import tweepy
import datetime
import time

In [2]:
consumer_key = "cnozir0mgB4Zmm7IoqzgAQS73"
consumer_secret = "3xqlSgReZhaslX1yOdHG6TPtHeJcdHv3tV3emC7yB00ws31Fgy"
access_token = "1318272721382420480-wxe96w4m5cCJ4PdTIFxiaG3nhSusiG"
access_token_secret = "hdBskXriKoiBuM45XboiZtjQteGaQ2bYQ4FtQAF5a71ae"
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [3]:
'''
username = 'cnnbrk'
count=150

try:     
 # Creation of query method using parameters
 tweets = tweepy.Cursor(api.user_timeline,screen_name="cnnbrk", include_rts = False).items(count)
 
 # Pulling information from tweets iterable object
 tweets_list = [[tweet.created_at, tweet.id, tweet.text] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
 tweets_df = pd.DataFrame(tweets_list)
except BaseException as e:
      print('failed on_status,',str(e))
      time.sleep(3)
      '''

'\nusername = \'cnnbrk\'\ncount=150\n\ntry:     \n # Creation of query method using parameters\n tweets = tweepy.Cursor(api.user_timeline,screen_name="cnnbrk", include_rts = False).items(count)\n \n # Pulling information from tweets iterable object\n tweets_list = [[tweet.created_at, tweet.id, tweet.text] for tweet in tweets]\n \n # Creation of dataframe from tweets list\n # Add or remove columns as you remove tweet information\n tweets_df = pd.DataFrame(tweets_list)\nexcept BaseException as e:\n      print(\'failed on_status,\',str(e))\n      time.sleep(3)\n      '

In [4]:
news_list = ['telegraph', 'cbcnews', 'independent', 'rt_com', 'guardiannews', 'france24_en', 'france24', 'cnbc', 'newsweek', 'skynewsbreak', 'ajenglish', 'skynews', 'financialtimes', 'guardian', 'breakingnews', 'huffpost', 'ndtv', 'xhnews', 'ap','washingtonpost', 'abc', 'time', 'wsj', 'reuters', 'theeconomist', 'bbcworld', 'bbcbreaking', 'cnn', 'nytimes', 'cnnbrk']

In [6]:
Country = input("Country")
news_df = pd.DataFrame()
for handle in news_list:
   text_query = a = "from:"+handle +" " + Country
   count = 150

 # Creation of query method using parameters
   tweets = tweepy.Cursor(api.search_tweets,q=text_query+" -filter:retweets", ).items(count)
 
 # Pulling information from tweets iterable object
   tweets_list = [[tweet.created_at, handle, tweet.text] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
   tweets_df = pd.DataFrame(tweets_list)
   news_df= pd.concat([news_df,tweets_df], ignore_index=True)

In [8]:
news_df["Date"] = news_df[0].dt.date
news_df["Time"] = news_df[0].dt.time
news_df.rename(columns={1:"Handle",2:"News Headline"},inplace=True)
#news_df.drop(0,axis = 1,inplace=True)

In [20]:
Lnews_df=news_df.sort_values(by=0,ascending=False)
Lnews_df.drop(0,axis=1, inplace=True)

In [26]:
Lnews_df.reset_index()

,index,Handle,News Headline,Date,Time
0,85,ap,AP Week in Pictures: North America https://t.c...,2022-08-19,16:30:08
1,145,theeconomist,If the Federal Reserve raises rates again late...,2022-08-19,16:30:04
2,116,time,America's gun industry is currently fixated on...,2022-08-19,16:03:00
3,226,bbcworld,Escaped bull wrecks shop in Peru's capital Lim...,2022-08-19,15:43:03
4,146,theeconomist,"â€œIt has been, since 1857, pretty much a broken...",2022-08-19,14:37:03
...,...,...,...,...,...
257,242,bbcworld,Infamous 'death road' in Bolivia becomes haven...,2022-08-10,10:42:11
258,74,guardian,â€˜Getting harder and hotterâ€™: Phoenix fire crew...,2022-08-10,10:11:42
259,102,ap,BREAKING: The World Cup in Qatar could start o...,2022-08-10,10:00:19
260,225,theeconomist,"We talk to Ted Cruz, a Republican senator from...",2022-08-10,09:30:30
261,75,guardian,Can citizen scientists turn the tide against A...,2022-08-10,09:17:59

In [28]:
Lnews_df.head(10)

,Handle,News Headline,Date,Time
85,ap,AP Week in Pictures: North America https://t.c...,2022-08-19,16:30:08
145,theeconomist,If the Federal Reserve raises rates again late...,2022-08-19,16:30:04
116,time,America's gun industry is currently fixated on...,2022-08-19,16:03:00
226,bbcworld,Escaped bull wrecks shop in Peru's capital Lim...,2022-08-19,15:43:03
146,theeconomist,"â€œIt has been, since 1857, pretty much a broken...",2022-08-19,14:37:03
28,cnbc,This is a 'textbook' bear market bounce that w...,2022-08-19,13:50:13
103,washingtonpost,Here's where to eat and drink in 13 of America...,2022-08-19,13:19:18
68,guardian,@joanegreve @MichaelSteele https://t.co/ziFO7W...,2022-08-19,10:32:09
69,guardian,What does the future hold for Liz Cheney?\n\nðŸ†•...,2022-08-19,10:32:00
243,cnn,Join Dana Bash for an investigation into the w...,2022-08-19,09:00:06

In [31]:
Lnews_df["News Headline"][69]

"What does the future hold for Liz Cheney?\n\nðŸ†• On this week's Politics Weekly America, the Guardian's @joanegreve speâ€¦ https://t.co/zqVKNx6G0x"